*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: #2c3e50;
}

header {
    width:100% ; 
    height:80px ; 
    font-size: 20px;
    background :#00ff00 ; 
    border-bottom: #eb0303 5px solid;
    border-radius: 9px;
    display :flex; 
    justify-content:space-around ;
     align-items:center;
     }
     .logo{
        color:rgb( 44 , 44 , 44 ); 
        font-size:35px;
        font-weight: bold;
    }
    .logo:hover{
      color:antiquewhite;
      border-radius: 6px;
      background:linear-gradient(#183f50 , #2b768f,  #236a88 ) ;
      transform:scaley( 0.8 ) ;
      transition: all .4s;
    }
        .nav{
           display : flex ; 
           align-items:center ;
        }
        .nav ol { 
           display:flex ; 
           list-style : none ;
          }
.btn { 
       position : relative ; 
       width : 25px ; 
       height : 25px ; 
      -webkit-appearance : none ; 
       appearance:none ; 
       cursor:pointer ;
       display:none ;
             }

.btn::before{ 
    content:#f0c9; 
    position:absolute ; 
    top : 0 ; 
    left : 0 ; 
    font-family :' Font Awsome 5 Free ' ; 
    font-weight:700 ; 
    font-size:2em ;
 }
   .nav ol li {
    margin: 1em;
   }
   .nav ol li a { 
    text-decoration : none ; 
    padding:0.2em 1.2em 0.9em 1.2em ; 
    border-radius: 10px 10px 0 0 ; 
    color:white;
     transition : all 4s ; 
    position : relative ;
     z-index:1;
     } 
     .nav ol li a::before { 
        content : " " ; 
        position : absolute ; 
        bottom : 0 ; 
        left : 0 ; 
        width:100% ; 
        height:41px ; 
        border-radius:10px 10px 0 0 ; 
        background:#853333 ; 
        transform-origin:bottom ; 
        background : linear-gradient( to right , 
        #2C5364 , #203A43,  #0f2027 ) ;
         transform : scaley( 0.05 ) ;
          z-index:-1 ; 
        transition : all .4s ; 
    } 
    .nav ol li a:hover::before{ transform :scaleY( 1.1 ) ; } 
    .nav ol li a:hover{ color : rgb(234, 234, 234) ; } 
    @media( max-width : 1200px ) { 
        .btn { 
        display:flex ;
         z-index:100 ; 
        }
         header {justify-content : space-between ; 
                         padding : 0 2em ; }
         .nav{ 
        width:100% ; 
        position :absolute ; 
        top : 0 ; 
        left :0; 
        border-radius: 10px;
        display : flex ; 
        justify-content: center ; 
        background:#00fb21 ;
         transform:translateY(-110%) 
          
         } 
         input:checkbox{
            display: none;
         }
       
         input:checked ~ .nav { 
            transform:translateY( 0% ) } 
            input :checked::before{ 
              content : ' \ f00d ' ;
              }
              @media( max-width:700px ) { 
                .nav ol { 
                flex-direction:column ; 
                text-align:center ; }
                }
