*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #2c3e50;
    overflow: hidden;
}
.container{
   position: relative;
   width:100%;
  display: flex;
}
.form{
    width: 100%;
    max-width: 1600px;
    height:700px;
    background-color: #2c3e50;
   border-radius: 10px;
   border:4px solid cyan;
   box-shadow: 0 0 10px 1px rgb(218, 243, 175);
   display: flex;
}
.left{color: aliceblue;
 flex-basis:60%;
 padding: 40px 60px;
 overflow: scroll;
 float:r;
}
.right{
    min-width:100px;
    border-radius: 10px;
    border:4px solid rgb(0, 0, 0);
    flex-basis: 40%;
    padding: 40px;
    background-color:#1abc9c;
    overflow:scroll;
}
form{
    display: flex;
    justify-content: center;
}
.form-box{
    min-width:100px;
}
h2{
    font-size: 44px;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}
span-1{
    text-align: center;
}
.inputbox{
    position: relative;
    margin:30px 0;
    width: 400px;
    border-bottom: 3px solid rgb(236, 206, 160);
}
.message{
    width: 100%;
    min-height: 250px;
    border: 2px solid rgb(47, 255, 68);
    border-radius:5px;
    resize: none;
    overflow-y: auto;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
   transform: translateY(-50%);
    color: aliceblue;
    font-size: 20px;
    pointer-events: none;
    transition: .5s;
}
 input :focus ~ label,
input:valid ~  label{top: -5px;}
.inputbox input{
    width: 100%;
    height: 50px;
   background: transparent;
   border: none;
   outline: none;
   font-size: 15px;
   padding: 0 35px 0 5px;
   color: aliceblue;

}

.mes{
    margin-right: 0px;
    font-size: 20px;
    width: 700px;
}
.button{display: flex;
    text-align: center;
    justify-content: center;
}
button{
    width: 40%;
    height: 35px;
    border-radius: 10px;
    background-color: blue;
    font-size:20px;
    font-weight: bold;
    color: white;
    transition: .5s;
}

button:hover{
    color:yellow;
    background-color:#1abc9c;
}
.butt{
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.for{
    position: relative;
    width:100%;
   display: flex;
}
.mam{ 
    color:white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    background-color:transparent;
    height:400px;
    width:100%;
    margin-bottom: 20px;
    border:3px solid cyan;
    border-radius:6px;
}
.h4, h4{
    color: #000000;
    text-decoration:none;
}
.h4:hover{
    color: rgb(0, 255, 8);
}

.lef{
    background:#00ff00;
    flex-basis: 40%;
    border-radius:6px;
    padding: 40px 60px;
}
h4:hover{
    color: #80cbc4;
    transform:scale(1.1);
}
img{
    width:150px;
    height:150px;
    border-radius:50%;
    border: #00ff00 solid 2px;
}
.form-value a{
    color: #ffffff;
    text-decoration: none;
}
.for::before{
    content:"";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:#00ff00;
    transform: rotate(45deg);
    top: 50px;
    left:305px;
}
span-1{
    color: aqua;
    font-size: small;
    position: relative;
    left:250px;
    bottom: -45px;
}
.image::before{
    content:'';
    position: absolute;
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:#00ff00;
    bottom:19px;
    left:260px;
}
.righ{background: #ffffff;
    flex-basis: 60%;
    padding: 40px;
}
.mera{ 
    color:white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    background-color:transparent;
    height:400px;
    width:100%;
    margin-bottom: 20px;
    border:3px solid cyan;
    border-radius:6px; 
}
.abdi{ 
    color:white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    background-color:transparent;
    height:400px;
    width:100%;
    margin-bottom: 20px;
    border:3px solid cyan;
    border-radius:6px;   
}
.abina{ 
    color:white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    background-color:transparent;
    height:400px;
    width:100%;
    margin-bottom: 20px;
    border:3px solid cyan;
    border-radius:6px;
}
.gem{ 
    color:white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    background-color:transparent;
    height:400px;
    width:100%;
    margin-bottom: 20px;
    border:3px solid cyan;
    border-radius:6px; 
}
.ted{ 
    color:white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    background-color:transparent;
    height:400px;
    width:100%;
    margin-bottom: 20px;
    border:3px solid cyan;
    border-radius:6px;
}
.yad{ 
    color:white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    background-color:transparent;
    height:400px;
    width:100%;
    margin-bottom: 20px;
    border:3px solid cyan;
    border-radius:6px;
}
h3{
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width:900px){
    .right{
        flex-basis:0%;
        display:none;
    }  
  .left{
    width:100%;
    flex-basis: 100%;
  }
li{
    display: none;
}
.for::before{
    content:"";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:#00ff00;
    transform: rotate(45deg);
    top: 50px;
    left:255px;
}
}